name: Benchmarking

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  bench:
    strategy:
      matrix:
        script_file:
          - "bench.binary.exs"
          - "bench.stream.exs"
          - "bench.encoder.exs"

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: bench

    name: ${{ matrix.script_file }}

    steps:
      - uses: actions/checkout@v6
      - name: Setup Elixir
        uses: erlef/setup-beam@v1
        with:
          version-file: .tool-versions
          version-type: strict
      - name: Install Dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
          mix compile
      - name: Benchmark
        run: mix run ${{ matrix.script_file }}
